
/*Master page styles*/
header{
    background-color:#0A8F64;
    color:#87C8B3;
    border-radius:25px;
    padding-left:20px;
}

nav{
    background-color:#00432D;
    color:#87C8B3;
    padding:3px;
    margin-bottom:5px;
}

main{
    background-color:#333;
    color:lightgrey;
    padding:5px;
}

footer{
    background-color:#00432D;
    color:#87C8B3;
    padding:3px;
    margin-top:5px;
    text-align:center;
}

body {
    background-color:#202020;
}

#LoginStatus{
    position:absolute;
    top:0px;
    right:20px;
}

/*Control Page styles*/
#centerBodyDiv{
    margin:auto;
    width:1004px;
    background-color:#202020;
    position:relative;
}

.lblBlock{
    width:150px;
    display:inline-block;
    padding:5px;
}

.lblBlockViewPage{
    width:100px;
    display:inline-block;
    padding:4px;
}

.uxSitePath{
    color:#87C8B3;
}

.uxSitePath a:link{
    text-decoration: none;
    color:#87C8B3;
}

.uxSitePath a:visited{
    text-decoration: none;
    color:#87C8B3;
}

.uxSiteMapMenu{
    margin:auto;
    width:100%;
}

.uxSiteMapMenu a{
    display:inline-block;
    color:#0A8F64;
    text-decoration:none;
    padding:10px;
    background-color: #00432D;
    border:solid 1px #0A8F64;
}

.uxSiteMapMenu a:hover{
    display:inline-block;
    color:#00432D;
    text-decoration:none;
    padding:10px;
    background-color: #0A8F64;
    border:solid 1px #0A8F64;
}