header{
    background-color:#0A8F64;
    color:#87C8B3;
}
nav{
    background-color:#00432D;
    color:#87C8B3;
}
main{
    background-color:#333;
    color:lightgrey;
}
footer{
    background-color:#00432D;
    color:#87C8B3;
}
body {
    background-color:#202020;
}

