header{
    background-color:#0A8F64;
    color:#87C8B3;
}
nav{
    background-color:#00432D;
    color:#87C8B3;
}
main{
    background-color:#333;
    color:lightgrey;
    padding:5px;
}
footer{
    background-color:#00432D;
    color:#87C8B3;
}
body {
    background-color:#202020;
}
#centerBodyDiv{
    margin:auto;
    width:1004px;
    background-color:#202020;
}
.lblBlock{
    width:150px;
    display:inline-block;
    padding:5px;
}
.lblBlockViewPage{
    width:100px;
    display:inline-block;
    padding:4px;
}

